body{
  margin:0;
}
a{
  color:black;
  text-decoration: none;
}
h1{
  font-size:45px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
ol{
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #content{
  padding-left:25px;
}
@media(max-width:700px){
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
.video-container{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
}
